PORT_API=3001
DB_HOST=seu_host_azure_mysql
DB_PORT=3306
DB_USER=seu_usuario_azure
DB_PASSWORD=sua_senha_azure
DB_NAME=ezer_dh
DB_SSL=true
JWT_SECRET=ezer_dh_secret_key_2025
JWT_EXPIRES_IN=24h
CORS_ORIGIN=https://ezerdh-d3adeyeaanbncmcz.canadacentral-01.azurewebsites.net
REQUIRE_DB=true
